:root {
  --primary-accent: #000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  display: grid;
}

main {
  margin: 1em;
}

.buttons {
  display: flex;
  position: sticky;
  top: 0.5em;
  z-index: 1; /*to stick above plotly graphs*/
}

.buttons > * + * {
  margin-left: 10px;
}

#info {
  max-width: 68em;
}

.icon {
  margin-right: 0.5em;
  min-width: 1em;
}

a:focus, button:focus {
  outline: 3px solid rgba(66, 153, 225, 0.6);
}

#data {
  display: flex;
  flex-flow: row wrap-reverse !important;
  gap: 0.8em;
}

#data > table {
  align-self: flex-start;
}

#data > aside {
  flex: 1;
}

#data > aside:empty {
  display: none; /* fixes empty gap on small screens */
}

#visualisation {
  min-width: 400px;
  animation: vis-appear 0.3s;
}

/*@media screen and (max-width: 1100px) {
  #data {
    flex-direction: column-reverse;
  }
}*/

@keyframes vis-appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}