:root {
  --primary-accent: #000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  margin: 1em;
}

.buttons {
  display: flex;
  position: sticky;
  top: 0.5em;
  z-index: 1; /*to stick above plotly graphs*/
}

.buttons > * + * {
  margin-left: 10px;
}

#info {
  max-width: 68em;
}

.icon {
  margin-right: 0.5em;
  min-width: 1em;
}

a:focus, button:focus {
  outline: 3px solid rgba(66, 153, 225, 0.6);
}

#data {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}

#data > aside {
  flex: 1;
}

@media screen and (max-width: 1100px) {
  #data {
    flex-direction: column-reverse;
  }
}