table {
    border-collapse: collapse;
    margin-top: 1em;
    text-align: right;
    border: 1px solid #ddd;
}

.header-row {
    font-weight: bold;
    background: #f0f0f0;

    -position: sticky;
    -top: 0;
}

td {
    border: 1px solid #ddd;
    padding: 0.6em;
    min-width: 10ch;
}

tr :first-child {
    min-width: 4ch;
    width: 4ch;
    background: #f0f0f0;
    text-align: center;
    cursor: pointer;
    user-select: none; /* avoid selecting the row number when manually selecting and copying data from the table */
}

tr {
    transition: all 0.2s;
}

tr:nth-child(even) {
    background: #f8f8f8;
}

tr:hover {
    background-color: #ddd;
}

.discontinuous {
    border-top: 2px dashed #777;
}