.expanding-card-container {
    margin-bottom: 0.8em;
    display: flex;
    flex-direction: column;
}

.card-header {
    color: #444;
    font-size: 1em;
    display: flex;
}

.card-title {
    display: flex;
    flex: 1;
    align-items: center;
}

.card-options {
    display: flex;
    gap: 0.5em;
}

.card-expander .icon {
    transition: all 0.1s ease-in-out;
    transform-origin: 50% 45%;
}

.card-expander.expanded .icon {
    transform: rotate(180deg);
}

.card-options button {
    border: 0;
    padding: 0.1em;
    min-height: unset;
    border-radius: 8px;
}

.card-options .icon {
    margin: 0;
}