.log-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}

.map-consent {
    text-align: center;
}

.timeline-container {
    background-color: #222;
    padding: 0.5em;
    color: #fefefe;
}

.timeline {
    display: flex;
    width: 100%;
}

.timeline-title {
    font-weight: 600;
    font-size: large;
    padding-bottom: 0.2em;
}

.map-timeline-time {
    width: 4em;
}

.timeline-slider {
    flex: 1;
}

.map-vis-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
}

.graph-config {
    border-bottom: thin solid #ddd;
    padding: 0.4em;

    display: flex;
}

.config-items-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

.config-item {
    display: flex;
    flex: 1;
    background: #f4f4f4;
    padding: 0.4em;
    border-radius: 8px;
    gap: 1em;
    align-items: center;
}

.config-item label {
    flex: 2;
    text-align: right;
}

.config-item select {
    flex: 1;
    max-width: 15em;
}