.log-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}

#map-privacy-notice {
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fefefe;
    text-align: center;
    padding: 0.8em;
}

.timeline-container {
    background-color: #222;
    padding: 0.5em;
    color: #fefefe;
}

.timeline {
    display: flex;
    width: 100%;
}

.timeline-title {
    font-weight: 600;
    font-size: large;
    padding-bottom: 0.2em;
}

.map-timeline-time {
    width: 4em;
}

.timeline-slider {
    flex: 1;
}

.map-vis-container {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.map {
    border-radius: 8px;
}