.multi-toggle-button {
    display: flex;
}

.multi-toggle-button button {
    margin-right: 1px;
}

.multi-toggle-button :first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.multi-toggle-button :not(:first-child):not(:last-child) {
    border-radius: 0;
}

.multi-toggle-button :last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.multi-toggle-button-active {
    background: rgb(221, 221, 250);
    box-shadow: inset 0 2px 8px 2px rgba(0, 0, 0, 0.15);
}